<div>
    <p>All this people support the idea of creative public space!</p>
    <ul>
        {{#signers}}
            <li>{{firstname}}  
                {{lastname}}
                ({{#if age}} {{age}} {{/if}}
                {{#if city}}, <a href="signers/{{city}}">{{city}} </a> {{/if}}
                {{#if homepage}}, <a href="{{homepage}}">{{homepage}}</a> {{/if}})
            </li>
        {{/signers}}
    </ul>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</div>
   
