<div class="templates">
    <p>All this people from {{city}} support the idea of creative public space!</p>
    <div class="signerscity-list">
        <ul class="signers-list">
            {{#signersbycity}}
                <li class="list">
                    {{firstname}}  
                    {{lastname}}
                    [{{#if age}} {{age}} {{/if}}
                    {{#if homepage}}|  <a href="{{homepage}}">{{homepage}}</a> {{/if}}]
                </li>
            {{/signersbycity}}
        </ul>
    </div>
    <div class="error">
        {{error}}
    </div>
</div>
<div id="menu">
    <div id="bar"></div>
    <div id="bar"></div>
    <div id="bar"></div>    
</div>
<div id="menu-left" class="hidden">
    <p id="x">X</p>

    <div class="links">
        <a href="../../update">Update Profile</a>
    </div>
    <div class="links">
        <a href="../thanks">Unsign Petition</a>
    </div>
    <div class="links">
        <a href="../signers">Supporters</a>
    </div>
    <div class="links">
        <a href="../../logout">Logout</a>
    </div>
    <div class="delete">
        <a href="../../delete">Delete</a>
    </div>
</div>

